<table border="1" style="width:100%">
  <caption>Events</caption>
  <thead>
    <tr>
      <th></th>
      <% @tracks.each do |track| %>
        <th><%= track %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @times.each do |time| %>
      <tr>
        <th><%= time[0].strftime("%m/%d/%Y %H:%M") %> to <%= time[1].strftime("%m/%d/%Y %H:%M") %></th>
        <td><%= Event.format_track(time[0], time[1], @tracks[0]) %></td>
        <td><%= Event.format_track(time[0], time[1], @tracks[1]) %></td>
        <td><%= Event.format_track(time[0], time[1], @tracks[2]) %></td>
        <td><%= Event.format_track(time[0], time[1], @tracks[3]) %></td>
        <td><%= Event.format_track(time[0], time[1], @tracks[4]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
