<table border="1" style="width:100%">
  <caption>Events</caption>
  <thead>
    <tr>
      <th></th>
      <% @tracks.each do |track| %>
        <th><%= track %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @starts.each do |start| %>
      <tr>
        <th><%= start.strftime("%m/%d/%Y %H:%M") %></th>
        <td><%= Event.format_track(start, @tracks[0]) %></td>
        <td><%= Event.format_track(start, @tracks[1]) %></td>
        <td><%= Event.format_track(start, @tracks[2]) %></td>
        <td><%= Event.format_track(start, @tracks[3]) %></td>
        <td><%= Event.format_track(start, @tracks[4]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
